@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  
  display: flex;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  overflow: hidden;
  background: url("bg.jpg"),-webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background-size: cover;;
  background-size: cover;

}
::selection{
  color: #fff;
  background: #d43f8d;
}
.container{
  width: 250px;
  background: #ebd7d7;
  text-align: center;
  border-radius: 10px;
  padding: 30px 22px 7px 22px;
  box-shadow: 6px 3px 10px 5px;

}
.container header{
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 30px 0;
  border-radius: 20px;
  
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 250px;
  height: 50px;
  margin: 30px 0;
  display: flex;
  position: relative;
  

}
form .page .field .label{
  position: absolute;
  top: -25px;
  font-weight: 500;
}

form .page .field input{
  height: calc(70% + 5px);
  width: 100%;
  border: 1.5px solid rgb(108, 104, 108);
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px;

}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(50% + 5px);
  border: none;
  background: #d33f8d;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #66041e;
}

form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 15px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 15px;
  width: 15px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
}
.progress-bar .step .bullet.active{
  border-color: #d43f8d;
  background: #d43f8d;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 6px;
  right: -51px;
  height: 3px;
  width: 40px;
  margin-right: 6px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: #d43f8d;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #d43f8d;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}
